[submodule "example/tcpdump"]
	path = example/tcpdump
	url = https://github.com/junka/tcpdump.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "dpdk"]
	path = dpdk
	url = https://github.com/junka/dpdk.git
